.form {
  display: flex;
  flex-direction: column;
}

.text {
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

.submit {
  background-color: #e91f63;
  border: none;
  height: 40px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

.submit:hover {
  background-color: rgb(163, 21, 69);
}
